log:
  # debug, info, warn, error
  level: "debug"
  # colored, text, json
  type: "colored"
  # if true, will show the source of the log (file and line)
  showSource: true

http:
  # http api bind port
  port: 3000
  # allowed origins
  allowedOrigins:
    - "http://localhost:3000"
    - "http://localhost:8080"

smtp:
  # smtp server address
  host: "smtp.gmail.com"
  # smtp server port
  port: 587
  # smtp server username
  username: "username"
  # smtp server password
  password: "password"
  # sender email
  sender: "admin@mrzt.dev"

apps:
  my-app:
    enabled: true
    apiKey: 7a28c3e0-83e4-426f-89a4-d932cdcadac4
    limitPerIPPerHour: 1000
    enabledFeatures:
      - email
      - discord
    discord:
      token: "discord_webhook_token"
      id: "discord_webhook_id"
    allowedOrigins:
      - "http://localhost:3000"
      - "http://localhost:8080"

# If you don't want to use them, simply comment or remove the configuration.
# If you don't fill in the configurations, the system will use the in-memory queue.
redis:
  # redis address with port
  address: "localhost:6379"
  # redis password
  password: "password"
  # redis topic
  topic: hermes

pg:
  # migrate on start
  migrate: false
  # postgresql address
  host: localhost
  # postgresql port
  port: 5432
  # username
  username: postgres
  # password
  password: password
  # db name
  dbname: hermes
